<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>www.gayromeo.com</string>
		<key>Key</key>
		<string>site</string>
		<key>Title</key>
		<string>Site</string>
		<key>Titles</key>
		<array>
			<string>GayRomeo.com</string>
			<string>PlanetRomeo.com</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>www.gayromeo.com</string>
			<string>www.planetromeo.com</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>https</string>
		<key>FalseValue</key>
		<string>http</string>
		<key>Key</key>
		<string>protocol</string>
		<key>Title</key>
		<string>Use secure connection</string>
		<key>TrueValue</key>
		<string>https</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
