/* GRDB Style */

body {
	margin:		0;
	background:	#fff;
	color:		#000;
	font-size:	10pt;
	font-family: Helvetica, sans-serif;
}

header {
	margin:		0 0 1em 0;
	min-height:		48px;
	color:		#555;
	background:	#bbb -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#aaa));
	text-shadow: #fff 0 1px 0;
	border-top:	thin solid #eee;
	border-bottom: thin solid #666;
}

header h1 {
	float:		left;
	position:	relative;
	font-size:	1.5em;
	margin:		0 0 0 10px;
	padding:	0 0 0 50px;
	width:		80px;
	height:		100%;
	line-height: 48px;
	background:	url(Icon-32.png) no-repeat left center;
	border-right: thin solid #666;
	cursor:		default;
	color:		#fff;
	text-shadow: rgba(0,0,0, 0.4) 0 1px 3px;
}

header h1:hover {
	text-shadow: #26a 0 1px 5px;
}

header h1 .hi {
	position:	relative;
}

header h1 .lo {
	position:	absolute;
	top:		1px;
	left:		50px;
	text-shadow: none;
	color:		rgba(0,0,0, 0.12);
}

header nav {
	height:		100%;
}

header form {
	float:		right;
	margin:		0 1em 0 1em;
	line-height: 48px;
}

header nav a {
	display:	block;
	float:		left;
	color:		inherit;
	text-decoration: none;
	height:		100%;
	padding:	0 2em;
	line-height: 48px;
	font-weight: bold;
	border-right: thin dotted #666;
	cursor:		pointer;
}

header nav a:hover {
	color:		#333;
}

header nav a.act {
	color:		#333;
	background:	-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));
}

header nav a span.badge {
	display:	inline-block;
	margin:		0 0 0 0.5em;
	padding:	0 0.4em;
	background:	#aaa -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#aaa));
	color:		#fff;
	text-align:	center;
	font-weight: bold;
	line-height: 1.3em;
	min-width:	1.25em;
	border-radius: 1em;
	text-shadow: rgba(0,0,0, 0.5) 0 1px 0;
	box-shadow:	rgba(0,0,0, 0.5) 0 1px 2px inset, #fff 0 1px 0;
}

header nav a.act span.badge {
	background:	#1af -webkit-gradient(linear, 0% 0%, 0% 100%, from(#26a), to(#1af));
}

aside {
	float:		left;
	position:	relative;
	margin:		-1em 2em 0 0;
	padding:	5px 8px 50px 12px;
	width:		120px;
	color:		#666;
	background:	#eee;
	border-right: thin solid #666;
}

aside:after {
	position:	absolute;
	bottom:		0;
	left:		0;
	content:	"";
	background:	-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0)), to(#fff));
	height:		50px;
	width:		141px;
}

aside nav a {
	display:	block;
	font-weight: bold;
	height:		24px;
	line-height: 24px;
	text-shadow: #fff 0 1px 0;
	cursor:		pointer;
}

aside nav a:hover {
	color:		#000;
}

aside nav a.act {
	color:		#000;
	background:	url(act.png) top right no-repeat;
	margin:		0 -15px 0 -12px;
	padding:	0 15px 0 12px;
}

aside nav a span.badge {
	float:		right;
	margin:		5px 0 0 0;
	padding:	0 0.3em;
	font-size:	0.8em;
	line-height: 15px;
	height:		14px;
	min-width:	1.5em;
	text-align:	center;
	color:		#fff;
	text-shadow: rgba(0,0,0, 0.25) 0 1px 0;
	background:	#888;
	box-shadow: rgba(0,0,0, 0.25) 0 1px 0 inset, #fff 0 1px 0;
	border-radius: 1em;
}

aside hr {
	margin:		0.25em -4px 0.25em -8px;
	height:		1px;
	background:	#ccc;
	box-shadow:	#fff 0 1px 0;
	border:		none;
}

#userpic {
	display:	none;
	position:	absolute;
	top:		0;
	left:		0;
	width:		55px;
	max-height:	100px;
	background:	#fff;
	padding:	5px;
	border:		thin solid rgba(0,0,0, 0.25);
	border-radius: 5px;
	box-shadow:	rgba(0,0,0, 0.25) 0 3px 6px;
	-webkit-transition-property: top, left;
	-webkit-transition-duration: 0.5s;
	z-index:	10;
}

footer {
	clear:		left;
	margin:		1em 0 2em 155px;
	padding:	0 2em;
	width:		48em;
	color:		#aaa;
	text-align:	center;
}

ul {
	list-style-type: none;
	overflow:	hidden;
	margin:		1em 2em;
	width:		48em;
	padding:	0.1em 0 0.25em;
	border:		thin solid rgba(0,0,0, 0.25);
	border-radius: 0.25em;
	box-shadow:	rgba(0,0,0, 0.25) 0 3px 6px;
}

ul a {
	padding:	0 0.15em;
	color:		inherit;
	border-radius: 0.3em;
	text-decoration: none;
	text-shadow: #fff 0 1px 0;
}

ul a:hover {
	color:		#fff;
	background-color:	#1af;
	text-shadow: #158 0 1px 0;
}

ul li {
	overflow:	hidden;
	line-height: 1.75em;
	padding:	0 0 0 2em;
	border-top: thin solid #fff;
}

ul li:first-child {
	border-top: none;
}

.double li {
	width:		21em;
	padding:	0 0 0 3em;
	float:		left;
}

#visitors li {
	width:		20em;
	padding:	0 0 0 4em;
}

.triple li {
	width:		13em;
	padding:	0 0 0 3em;
	float:		left;
}

#mails li:nth-child(2n),
.double li:nth-child(4n+2), .double li:nth-child(4n+3),
.triple li:nth-child(2n) {
	background:	#eef8ff;
}

#mails li.mini {
	float:		left;
	width:		14em;
	border-left: thin solid #fff;
}

#mails li.sent {
	padding:	0 0 0 3em;
	background:	#d8d0dd;
}

#mails li.mini.sent {
	width:		12.9em;
}

#mails li.sent:nth-child(2n) {
	background:	#e9e1ee;
}

#mails li[data-msg]:hover {
	color:		#1af;
	cursor:		pointer;
}

#mails li.low {
	background:	#fff;
}

ul div.action {
	float:		left;
	margin:		0 0 0 -2em;
	width:		2em;
	text-align:	center;
	color:		#888;
	font-weight: bold;
}

#contacts div.action, #threads div.action, #mails li.sent div.action {
	margin:		0 0 0 -3em;
	width:		3em;
}

#visitors div.action {
	margin:		0 0 0 -4em;
	width:		4em;
}

div.action a {
	display:	inline-block;
	padding:	0;
	width:		16px;
	line-height: 16px;
	text-indent: -10em;
	background-position: center 0px;
	background-repeat: no-repeat;
	cursor:		pointer;
}

div.action a:hover {
	background-position-y: -16px;
}

ul h2 {
	font-size:	1em;
	margin:		0;
	white-space: nowrap;
	overflow:	hidden;
	text-overflow: ellipsis;
}

#mails h2, #visitors h2 {
	margin-right: 0.25em;
	float:		left;
}

ul li.err h2 {
	color:		#b00;
}

ul h3 {
	float:		right;
	font-size:	1em;
	font-weight: normal;
	margin:		0 0.5em;
	color:		#26a;
}

h2 a[data-online] {
	padding-right: 16px;
	background-image: url(st_off.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
}

h2 a[data-online="1"] {
	background-image: url(st_away.png);
}

h2 a[data-online="2"] {
	background-image: url(st_on.png);
}

h2 a[data-online="-2"] {
	background-image: url(st_del.png);
	text-decoration: line-through;
	text-shadow: none;
}

h2 a[data-online]:hover {
	background-position-y: -16px;
}

#mails li.sent h3 {
	color:		#878;
}

#mails li[data-msg]:hover h3, ul li.low h3, li.drop h3 {
	color:		inherit;
}

ul li.low {
	color:		#999;
}

#mails h3[data-att] {
	padding:	0 0 0 18px;
	background:	url(pic.png) left center no-repeat;
}

#mails li.sent h3[data-att] {
	background-image: url(pic-d.png);
}

#visitors h3[data-give] {
	padding:	0 0 0 20px;
	background:	url(f/def_g.png) left center no-repeat;
}

#visitors h3[data-recv] {
	padding:	0 0 0 20px;
	background:	url(f/def_r.png) left center no-repeat;
}

#visitors h3[data-give][data-recv] {
	padding:	0 0 0 20px;
	background:	url(f/def_b.png) left center no-repeat;
}

#visitors h2 a:after {
	content:	"?";
	font-size:	0.5em;
	color:		#888;
	vertical-align: top;
}

#visitors h2 a:hover:after {
	color:		inherit;
}

#visitors h2 a[data-pic]:after {
	content:	none;
}

ul h3[data-age] {
	font-weight: bold;
}

ul h3[data-age=old], #mails li.sent h3[data-age=old] {
	color:		#b00;
}

ul p {
	margin:		0;
}

#mails p {
	white-space: nowrap;
	overflow:	hidden;
	text-overflow: ellipsis;
}

li.new {
	color:		#26a;
}

li.drop {
	color:		#999;
}

#mails li.sent.drop {
	color:		#878;
}

li.drop p, li.drop h3 {
	text-decoration: line-through;
}

ul.recv li,
ul.ignored li,
ul.new li,
ul.sent li,
ul.drop li,
ul.taps li {
	display:	none;
}

ul.recv li.recv,
ul.ignored li.recv.drop,
ul.new li.recv.new,
ul.sent li.sent,
ul.drop li.sent.drop,
ul.taps li.taps,
ul li.msg {
	display:	list-item;
}
